# Analisando dados de produção hospitalar

In [1]:
import pandas as pd

Documentação pd.read_csv: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [17]:
dados_processados = pd.read_csv('sih_cnv_qiuf18063645_170_63_111.csv', encoding='ISO-8859-1', skiprows=3, skipfooter=12, sep=';')

C:\Users\Guilh\AppData\Local\Temp\ipykernel_27516\2365259945.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dados_processados = pd.read_csv('sih_cnv_qiuf18063645_170_63_111.csv', encoding='ISO-8859-1', skiprows=3, skipfooter=12, sep=';')

In [15]:
dados_processados.head()

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2024/Mai,2024/Jun,2024/Jul,2024/Ago,2024/Set,2024/Out,2024/Nov,2024/Dez,2025/Jan,Total
0,11 Rondônia,"1388528,39","2931283,42","1541682,52","1525314,96","1645953,84","1406150,68","3065279,01","3231494,61","3117178,63",...,"13263064,95","14850429,87","15181454,02","14984483,83","15077192,15","14563028,38","15848807,31","11587325,95","11741428,22","1560284917,23"
1,12 Acre,"902416,00","1497206,26","1794028,48","1730469,42","1819443,92","1828496,00","2511754,59","2089107,14","2275708,53",...,"4374108,09","4484207,99","6335660,47","4843306,50","4913384,90","5425939,23","5449709,10","4235482,58",-,"646620087,26"
2,13 Amazonas,"4735529,42","7118990,57","8196635,49","8259378,42","7831399,90","8477273,62","9368858,72","9352532,70","9363099,35",...,"23545634,67","23016102,25","22656106,26","21594200,39","24755597,92","23511226,60","22358127,63","18580390,74","22924353,30","2888132298,30"
3,14 Roraima,"657889,53","777939,31","718688,03","839994,39","862347,96","832440,66","996693,09","894271,18","910424,17",...,"3156689,17","3372578,21","3266052,83","3952188,80","3112355,82","3605911,91","3914959,43","2444786,84",-,"489970130,16"
4,15 Pará,"18864744,11","19553758,20","21937342,70","20842829,69","23249952,88","23240687,56","24002223,56","23341218,03","25172261,32",...,"54412343,57","53709592,89","54615596,88","54983304,13","54604276,89","58300413,99","57089357,13","57527128,03","48312586,66","6983761195,26"

In [16]:
dados_processados.tail()

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2024/Mai,2024/Jun,2024/Jul,2024/Ago,2024/Set,2024/Out,2024/Nov,2024/Dez,2025/Jan,Total
22,43 Rio Grande do Sul,"30931325,46","57363420,01","51547794,07","56673338,49","48397733,07","52413429,62","56636376,98","56113054,70","55356224,30",...,"116054529,07","124937524,35","127437260,04","134398354,94","131241517,07","134031860,41","127119266,29","123445401,61","114718045,02","18241384664,44"
23,50 Mato Grosso do Sul,"5377392,11","7002472,61","8423933,19","8797487,68","9770421,80","10905392,18","10249299,82","9671553,45","10218511,05",...,"25404324,56","26697029,27","28317760,89","30264804,01","30927532,36","28494703,38","27001536,27","26691442,67","28252739,80","3553457995,83"
24,51 Mato Grosso,"4795299,01","8684882,23","7886243,14","8794109,79","9231645,40","10221763,77","9163314,28","9243148,81","9052354,89",...,"27151006,79","27020031,56","29114351,88","28271769,02","27881118,24","28767670,77","23938267,81","24574819,99","25410930,55","3308268753,12"
25,52 Goiás,"15310637,29","22258668,68","21442515,75","20921212,45","21615970,67","18270043,87","20540517,13","20650730,67","20868443,56",...,"55803954,91","53002491,67","59725955,31","57859283,46","55099115,09","52852765,25","51788573,74","53678493,77","55038161,04","7343471947,19"
26,53 Distrito Federal,"4745919,19","7632480,67","9647203,26","11098732,99","12891719,72","12850125,67","12565646,74","13710857,89","13165106,20",...,"34271625,13","32138444,46","34674715,63","36395865,18","31474797,31","31362733,27","31521122,89","31355484,53","33615233,10","3935843165,77"